* {
    box-sizing: border-box;
    font-family: "Segoe UI";
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  
  .page {
    position: fixed;
    background-color: #081b29;
    height: 100%;
    width: 100%;
    padding: 20px 50px 20px 50px;
  }
  .header{

    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
  }
  
  .calculator {
    margin: 10ream;
    width: 300px;
    height: 450px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 50px #5293cd;
  }
  
  .display {
    width: 100%;
    height: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0px 15px 10px -8px #e5f3fe;
    padding: 35px 55px 0px 0px;
    border-radius: 5px;
  }
  
  .previous {
    font-size: 18px;
    font-weight: 100;
    color: grey;
  }
  
  .current {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 150;
    height: 100px;
    position: relative;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .sign {
    display: inline-block;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    color: #57b3fe;
    position: relative;
    bottom: 5px;
  }
  
  .square {
    display: inline-block;
    position: relative;
    font-size: 12px;
    bottom: 30px;
    color: #57b3fe;
  }
  
  .inputs {
    padding: 35px 35px 40px 35px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .input {
    font-size: 25px;
    position: relative;
    color: grey;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  .input:active {
    animation-name: input_clicked;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  @keyframes input_clicked {
    25% {
      font-size: 18px;
      color: black;
    }
    100% {
      font-size: 16px;
      color: black;
    }
  }
  .c {
    color: #fbafb0;
    font-weight: semi-bold;
  }
  
  .operator {
    font-size: 16px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: white;
    box-shadow: 0 6px 20px 5px #e5f3fe;
    border-radius: 20px;
    color: #57b3fe;
    text-align: center;
    line-height: 25px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .equals {
    position: relative;
    width: 190px;
    height: 50px;
    margin: auto;
    background-color: #57b3fe;
    border: none;
    color: white;
    font-size: 35px;
    border-radius: 5px;
    bottom: 25px;
    text-align: center;
    box-shadow: 0 6px 50px #5293cd;
  }
  
  #style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
    position: absolute;
  }
  
  #style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  
  #style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #57b3fe;
  }
  
  #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  #style-3::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  #style-3::-webkit-scrollbar-thumb {
    background-color: #57b3fe;
    border-radius: 5px;
  }

  /* Transation effect */
  a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}

a:hover{
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 1s;
}

a span{
	position: absolute;
	display: block;
}


a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3);
}

a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}


a span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
}

a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}


a span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
}

a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
